@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
}

button:hover {
    color: #9b6974;
}

header {
    background: rgba(229, 84, 115, 0.10);
    ;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
}

.container .head {
    margin-bottom: 32px;
}

.container .para {
    margin-bottom: 32px;
}

.banner .banner-text {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 500px;
}

.banner .banner-img img {
    width: 400px;
    vertical-align: middle;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 15px 0;
    height: 500px;
    display: flex;
    align-items: end;

}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

.sec-content {
    padding: 86px 232px 86px 317px;
    width: auto;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    gap: 30px;

}

.section-third {
    width: 70% ;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;

}

.icon .icon-png img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.sec-content p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    line-height: 35px;
    /* 145.833% */
}